* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    background-color: #014e56;
  }
  .container {
    width: 90%;
    margin:  auto;
  }
}
