.manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;

  background-image: url("../img/build-right-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #012f34;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__hr {
    width: 50px;
    height: 2.5px;
    border: none;
    background-color: #f67e7e;
  }
  &__title {
    /* Build & manage distr */

    width: 80%;
    text-align: center;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    /* or 100% */

    color: #ffffff;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;
    margin: 100px auto;
  }
  &__card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__subtitle {
    /* Experienced Individu */
    width: 80%;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    color: #f67e7e;
  }
  &__text {
    /* Our network is made */
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    width: 80%;
    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
