.real {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0;
    background-image: url("../img/deleverImg.png"),
      url("../img/deleverbottomimg.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: 150px;
    background-color: #004047;
  
    &__title {
      /* Delivering real resu */
      width: 80%;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 32px;
      /* or 100% */
      text-align: center;
  
      color: #ffffff;
    }
    &__cards {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-top: 100px;
    }
  
    &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    &__img {
      position: absolute;
      top: -20px;
    }
  
    &__text {
      z-index: 2;
      /* “The team perfectly */
      width: 80%;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */
      text-align: center;
  
      color: #ffffff;
    }
    &__name {
      /* Kady Baker */
      width: 80%;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      /* identical to box height, or 156% */
      text-align: center;
  
      color: #79c8c7;
    }
    &__bio {
      /* Product Manager at B */
      width: 80%;
      font-family: "Livvic";
      font-size: 13px;
      line-height: 18px;
      /* identical to box height, or 138% */
      text-align: center;
  
      color: #ffffff;
    }
    &__span {
      color: #79c8c7;
    }
  }
  